image: node:24-bookworm

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
    - when: never

stages: [install, lint, test, build]

cache:
  key: "npm-$CI_COMMIT_REF_SLUG"
  paths: [.npm/]
  policy: pull-push

variables:
  CI: "true"
  NPM_CONFIG_CACHE: ".npm"

install:
  stage: install
  before_script:
    - node -v && npm -v
  script:
    - npm ci --cache $NPM_CONFIG_CACHE
  artifacts:
    paths: [node_modules/]
    expire_in: 2h

lint:
  stage: lint
  needs: ["install"]
  script:
    - npm run lint

test:
  stage: test
  needs: ["install"]
  before_script:
    - apt-get update && apt-get install -y chromium && rm -rf /var/lib/apt/lists/*
  variables:
    CHROME_BIN: "/usr/bin/chromium"
  script:
    - npm run test:ci

build:
  stage: build
  needs: ["install"]
  script:
    - npm run build -- --configuration=production
  artifacts:
    paths: [dist/]
    expire_in: 1 week
