[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
urllib3 = "*"
tqdm = "*"
click = "*"
dataclasses-json = "*"
beautifulsoup4 = "*"
bleach = "*"
marshmallow = "*"
ranx = "*"
joblib = "*"
aiohttp = "*"
aiohttp-retry = "*"
publicsuffixlist = "*"
warcio = "*"
apache-beam = "*"
pyspark = "*"
jupyter = "*"
pandas = "*"
pyyaml = "*"
asyncio-pool = "*"
fastwarc = "*"
pytest = "*"
approvaltests = "*"
python-slugify = "*"
pylint = "*"
flake8 = "*"
requests-html = "*"
diskcache = "*"

[dev-packages]

[requires]
python_version = "3.10"
