<footer
  class="w-full py-4 px-8 bg-transparent text-base-content/50 flex flex-col border-t border-base-200 md:flex-row justify-between items-center text-[11px] tracking-wide"
>
  <nav class="flex gap-6 md:ml-auto md:mr-auto mb-2 md:mb-0 uppercase font-medium">
    <a routerLink="/imprint" class="hover:text-base-content transition-colors duration-200">
      Imprint
    </a>

    <a routerLink="/privacy" class="hover:text-base-content transition-colors duration-200">
      Privacy Policy
    </a>
  </nav>

  <div class="uppercase font-semibold tracking-widest">SWEP © {{ currentYear() }}</div>
</footer>
