<div class="flex h-screen bg-base-100 text-base-content overflow-hidden">
  <aside class="h-full shrink-0">
    <app-sidebar [userData]="userData" (newProject)="title = 'New Project Clicked'"></app-sidebar>
  </aside>

  <main class="flex-1 flex flex-col h-full overflow-hidden">
    <div class="flex-1 overflow-y-auto p-10">
      <div class="flex flex-col items-center gap-8">
        <div class="space-y-4">
          <h1 class="text-3xl font-extrabold tracking-tight text-4xl">
            Willkommen bei
            <span class="text-primary">AQL Frontend</span>
          </h1>
          <p class="text-base text-neutral-600 text-lg">
            Die Angular 20 App läuft jetzt mit neuestem
            <span class="font-semibold">Tailwind CSS v4</span>
            und
            <span class="font-semibold">daisyUI v5</span> als Design‑System.
          </p>
          <div class="flex flex-wrap gap-4">
            <aql-button btnType="primary" btnStyle="rounded" [flatten]="true" iconBefore="bi-boxes"
              >Primary</aql-button
            >

            <aql-button btnType="secondary" btnStyle="full" iconAfter="bi-three-dots"
              >Secondary</aql-button
            >
            <div class="w-80">
              <input-field shape="circle" placeholder="Search..."></input-field>
            </div>
            <input-field type="date" [showIcon]="false" shape="square">
              <i prefix class="bi bi-calendar-date text-[20px] opacity-50"></i>
            </input-field>

            <input-field shape="square">
              <aql-button suffix btnType="default" btnStyle="full" [flatten]="true" size="sm">
                Search
              </aql-button>
            </input-field>
            <input-field [disabled]="true" placeholder="Cannot type here" size="xs"> </input-field>

            <div class="w-64">
              <input-field placeholder="Mail" icon="bi bi-envelope" size="sm" color="primary">
              </input-field>
            </div>
            <input-field placeholder="text" color="ghost" size="lg" [showIcon]="false">
            </input-field>
            <input-field color="ghost" placeholder="Ghost Input"></input-field>

            <input-field color="error" placeholder="Error Input"></input-field>

            <input-field color="bordered" placeholder="Standard Input"></input-field>
            <div class="w-150 flex gap-4">
              <radio-button label="Option 1" name="myGroup" value="opt1" size="md"></radio-button>

              <radio-button
                label="Option 2"
                name="myGroup"
                value="opt2"
                size="lg"
                [checked]="true"
              ></radio-button>

              <radio-button
                label="Option 3"
                name="myGroup"
                value="opt3"
                size="sm"
                [checked]="true"
              ></radio-button>

              <radio-button
                label="Deaktiviert"
                name="myGroup"
                value="opt3"
                size="sm"
                [disabled]="true"
                [checked]="true"
              ></radio-button>
            </div>

            <div class="flex flex-col gap-4">
              <checkbox label="Extra klein (xs)" size="xs"> </checkbox>

              <checkbox label="Klein (sm)" size="sm"> </checkbox>

              <checkbox label="Standard (md)" size="md" [checked]="true"> </checkbox>

              <checkbox label="Groß (lg)" size="lg" [checked]="true"> </checkbox>
            </div>
            <div class="flex flex-col gap-4">
              <checkbox label="Nicht verfügbar" [disabled]="true"> </checkbox>

              <checkbox label="Bereits erledigt (Gesperrt)" [disabled]="true" [checked]="true">
              </checkbox>

              <checkbox label="Bereits erledigt (Gesperrt)" [indeterminate]="true"> </checkbox>
            </div>

            <div>
              <aql-dropdown position="right end">
                <aql-button trigger btnType="ghost" [soft]="true" [flatten]="true"
                  >Click me</aql-button
                >
                <ng-container content>
                  <aql-menu-item iconBefore="bi-cup-straw">Item 1</aql-menu-item>
                  <aql-menu-item>Item 2</aql-menu-item>
                  <aql-menu-item>Item 3 </aql-menu-item>
                </ng-container>
              </aql-dropdown>
            </div>

            <aql-group-item class="w-80" iconBefore="bi-folder2" iconBeforeOpen="bi-folder2-open">
              <span label>Group Item</span>
              <aql-dropdown after position="right">
                <aql-button trigger btnType="icon" iconBefore="bi-three-dots"></aql-button>
                <ng-container content>
                  <aql-menu-item iconBefore="bi-cup-straw">Item 1</aql-menu-item>
                  <aql-menu-item>Item 2</aql-menu-item>
                  <aql-menu-item>Item 3 </aql-menu-item>
                </ng-container>
              </aql-dropdown>

              <aql-menu-item
                >Lorum Ipsum
                <aql-dropdown after position="right">
                  <aql-button trigger btnType="icon" iconBefore="bi-three-dots"></aql-button>
                  <ng-container content>
                    <aql-menu-item iconBefore="bi-cup-straw">Item 1</aql-menu-item>
                    <aql-menu-item>Item 2</aql-menu-item>
                    <aql-menu-item>Item 3 </aql-menu-item>
                  </ng-container>
                </aql-dropdown></aql-menu-item
              >
              <aql-menu-item
                >Lorum Ipsum dolor sit
                <aql-dropdown after position="right">
                  <aql-button trigger btnType="icon" iconBefore="bi-three-dots"></aql-button>
                  <ng-container content>
                    <aql-menu-item iconBefore="bi-cup-straw">Item 1</aql-menu-item>
                    <aql-menu-item>Item 2</aql-menu-item>
                    <aql-menu-item>Item 3 </aql-menu-item>
                  </ng-container>
                </aql-dropdown></aql-menu-item
              >
              <aql-menu-item
                >Lorum Ipsum dolor sit amet
                <aql-dropdown after position="right">
                  <aql-button trigger btnType="icon" iconBefore="bi-three-dots"></aql-button>
                  <ng-container content>
                    <aql-menu-item iconBefore="bi-cup-straw">Item 1</aql-menu-item>
                    <aql-menu-item>Item 2</aql-menu-item>
                    <aql-menu-item>Item 3 </aql-menu-item>
                  </ng-container>
                </aql-dropdown></aql-menu-item
              >
            </aql-group-item>
          </div>
        </div>
      </div>
    </div>

    <section>
      <router-outlet />
    </section>
  </main>
</div>
